@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

body, nav {
  background-color: darkseagreen;
}

header img {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

nav a, nav form, nav p, h1, label, button, .newPost, footer {
  text-align: center;
  vertical-align: middle;
  font-family: 'Cabin Sketch', cursive;
}

nav a, nav form, nav p, h1{
  font-weight: 700;
}

nav a, nav form, nav p {
  color : rgba(255,255,255) !important;
}

/* nav a {
  margin-right: 0 !important;
} */

nav p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0 !important;
}

.tile {
  width: 380px;
  height: 380px;
  margin: 10px;
  background-color: #99aeff;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: "Roboto";
}

.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}

.tile .text {
  position: absolute;
  padding: 30px;
  height: calc(100% - 60px);
}

.tile h1 {
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
  font-weight: 100;
  margin: 0;
  font-style: italic;
  transform: translateX(200px);
}

.tile p {
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.tile:hover {
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}

.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width: 400px;
  }
}
